.c1 {
	text-align: center;
	color: navy;
}

.backdrop {
	margin-top: 0px;
	margin-left: -100px;
	border-radius: 25px;
	position: fixed;
	background-image: url('http://cliparts.co/cliparts/8iA/6jd/8iA6jdoBT.svg');
	height: 355px;
	width: 100vw;
}

.boxes {
	background-color: navy;
	color: white;
}

.error {
	background-color: #FFBABA;
	color: white;
}

.default_text {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -230px;
	margin-left: -100px;
	font-weight: bold;
	color: navy;
}

.results {
	width: 70px;
}

#description {
	width: 100px;
}

#test {
	background-color: navy:;
}

#humidity {
	width: 48px;
}

#zip {
	width: 100px;
}

#country {
	width: 200px;
}

#city {
	width: 200px;
}

#tips {
	text-align: left;
}




